<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">
        <span>Status:
            <div id="connectionstatus">
                {% if status.error or not connection_details %}
                    <span>Disconnected</span>
                {% else %}
                    <span>Connected</span>
                {% endif %}
            </div>
        </span>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                {% if not status.error and connection_details %}
                <tr class="status-country">
                    <th>Country:</th>
                    <td>
                        <span>{{ connection_details.country }}</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>IP Address:</th>
                    <td>
                        <span>{{ connection_details.ip_address }}</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>City:</th>
                    <td>
                        <span>{{ connection_details.city }}</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>Region:</th>
                    <td>
                        <span>{{ connection_details.region }}</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>Operator</th>
                    <td>
                        <span>{{ connection_details.operator }}</span>
                    </td>
                </tr>
                {% else %}
                <tr class="status-country">
                    <th>Country:</th>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>IP Address:</th>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>City:</th>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>Region:</th>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
                <tr class="status-ipaddress">
                    <th>Operator</th>
                    <td>
                        <span>-</span>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>