<div class="col-md-9 col-configlist">
        <div class="panel panel-default">
          <div class="panel-heading">
            {% if refresh_flag %}
            <h4>Choose available connection</h4>
            {% else %}
            <h4>No available connection</h4>
            {% endif %}
        <select class="form-control input-sm" id="select-country">
          <option value="all" >-- All Countries --</option>
          {% if country_list %}
          {% for country in country_list %}
            <option value="{{ country }}" >{{ country }}</option>
          {% endfor %}
          {% endif %}
        </select>
          <button id="refresh-button" type="button" class="btn btn-sm btn-primary" title="Update configuration files">
            {% if refresh_flag %}
            Refresh Connection List
            {% else %}
            Generate Connection List
            {% endif %}
            <span class="glyphicon glyphicon-refresh"></span>
          </button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <span>Country</span>
              </th>
              <th>
                <span>IP Address</span>
              </th>
              <th>
                <span>Organisation</span>
              </th>
              <th>
                <span>City</span>
              </th>
              <th>
                <span>Region</span>
              </th>
            </tr>
          </thead>
        </table>
        
        <div id="config-tableholder" class="configlist-tableholder">
            <table class="table table-hover">
                <tbody>
                    {% if response.error %}
                        <h1>Something went wrong ! {{ response.error }}</h1>
                    {% else %}
                    {% for country_name in server_list %}
                        {% for config in server_list[country_name] %}
                            <tr class='clickable-row' data-href='/activate_config/{{ config.ip_address }}/{{ config.country }}'>
                                <td>{{ config.country }}</td>
                                <td>{{ config.ip_address }}</td>
                                <td>{{ config.organisation }}</td>
                                <td>{{ config.city }}</td>
                                <td>{{ config.region }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
      </div>
    </div>

<script>
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                console.log('clicked');
                window.location = $(this).data("href");
                console.log(window.location);
            });
        });
        
        $('#refresh-button').on('click', function () {
          $.ajax({
            url: "/refresh",
            type: "get",
            success: function(response) {
              console.log(response);
              $("#available-connection-list").html(response);
              alert('Please restart the application for changes to take effect !')
            },
            error: function(xhr) {
              //Do Something to handle error
              console.log("error: ", xhr);
            }
          });
        });
        
        $("#select-country").on("change",function() {
        let country_name = $("#select-country").val();
        $.ajax({
          url: "/config_list/"+country_name,
          type: "get",
          success: function(response) {
            console.log('called config for ' + country_name);
            $("#select-country").val(country_name);
            $("#available-connection-list").html(response);
          },
          error: function(xhr) {
            //Do Something to handle error
            console.log("error: ", xhr);
          }
        });        
      });
</script>